/*******************************************
            USERINFO HEADER SECTION
 *******************************************/
.header-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.33334;
    padding: 8px 16px;
    font-weight: 900;
    color: #FFFFFF;
    font-size: 18px;
    display: block;
    text-overflow: ellipsis;
}
  
.header-layout:hover{
    background-color: black;
}

.header-layout:hover .status-username {
    opacity: 1;
  }

.header-layout:hover .chevron {
    opacity: 1;
}

.status-indicator::before {
    content: "\2022";
    color: #38e500;
    margin-right: 6px;
    font-size: 18px;
}

.status-header {
    letter-spacing: -0.2px;
    font-size: 18px;
}

.status-indicator {
    margin-top: -4px;
    margin-bottom: -4px;
}

.status-username {
    font-size: 14px ;
    line-height: 1.46668;
    font-weight: 400;
    color: white;
    opacity: 0.7;
}

.status-notification-bell {
    float: right;
    font-size: 27px;
    display: flex;
    padding-top: 2px;
    color: #C6C7C8;
}

.chevron {
    display: inline-block;
    vertical-align: middle;
    padding-left: 4px;
    font-size: 11px !important;
    opacity: 0.7;
    margin-bottom: 5.5px;
}