.container__floatingField {
  margin-top: 22px;
  margin-bottom: 22px;
}

.container__floatingField--small {
  margin: 0px;
}

.floatingField_container {
  margin-top: 2%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: 1px solid darkgray;
  display: block;
}

.floatingField_container:focus-within {
  border-color: #0079bf;
  -webkit-box-shadow: 0px 0px 0px 4px rgba(61, 150, 252, 0.3);
  -moz-box-shadow: 0px 0px 0px 4px rgba(61, 150, 252, 0.3);
  box-shadow: 0px 0px 0px 4px rgba(61, 150, 252, 0.3);
  transform: scale(1.005);
  transition: all ease-in-out 0.1s;
  -webkit-transition: all ease-in-out 0.1s;
}

.floatingField_container--error {
  margin-top: 2%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: 1px solid darkgray;
  display: block;
}

.floatingField_container--error:focus-within {
  border-color: #e74a44;
  -webkit-box-shadow: 0px 0px 0px 4px rgba(255, 30, 22, 0.3);
  -moz-box-shadow: 0px 0px 0px 4px rgba(255, 30, 22, 0.3);
  box-shadow: 0px 0px 0px 4px rgba(255, 30, 22, 0.3);
  transform: scale(1.005);
  transition: all ease-in-out 0.1s;
  -webkit-transition: all ease-in-out 0.1s;
}

.floatingField__icon {
  margin-left: 12px;
  padding-right: 4px;
  font-size: 18px;
  color: rgba(29, 28, 29, 0.7);
  line-height: 1.33333333;
}

.floatingField__input {
  width: 85%;
  font-size: calc(2em - 15px);
  border: none;
}

.floatingField__length {
  padding-right: 8px;
  font-weight: 600;
}

.floatingField__length--ok {
  color: grey;
}

.floatingField__length--error {
  color: #e74a44;
}

.floatingField__header {
  color: #1d1c1d;
  position: relative;
  display: inline-block;
  padding-right: 4px;
  font-weight: 600;
  line-height: 8px;
  text-align: left;
}
.floatingField__optional {
  position: relative;
  display: inline;
  text-align: left;
  font-size: 200;
  color: #545454;
}

.floatingField_container--header {
  display: block;
  text-align: left;
}

.floatingField__desc {
  font-weight: bold;
  color: #e8912d;
}

.popUp__top {
  text-align: left;
  padding: 20px 28px;
  color: #1d1c1d;
  align-items: center;
  display: flex;
  width: 100%;
}

.popUp__top-small { 
  padding: 12px 28px;
  border-bottom: 1px #E2E2E2 solid;
}

.popUp__header {
  font-size: 28px;
  font-weight: 800;
}

.closeButton__container {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1;
}

.popUp__closeButton {
  position: relative;
  display: inline-flex;
  height: 36px;
  width: 36px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: #6d6c6c;
}

.popUp__closeButton::before {
  content: "\00d7";
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: 1;
}

.popUp__closeButton:hover {
  background-color: rgba(29, 28, 29, 0.13);
  color: black;
}

.popUp__closeButton:active {
  background-color: #f6f6f6;
}

.popUp_briefDesc {
  font-size: 15px;
  color: #6d6c6c;
}

.popUp__body {
  padding: 0px 26px;
}

.popUp__bottom {
  padding: 24px 26px;
  display: block;
}

.popUp__small-header{
  font-size: 18px;
  font-weight: 800;
  display: block;
}

.popUp__small-subHeader{
  font-size: 14px;
  font-weight: 400;
  color: #828282;
}

.popUp__small-subHeader::before {
  content: '#';
}

.basicButton {
  text-align: center;
  font-size: 15px;
  height: 36px;
  min-width: 80px;
  padding: 0 12px 1px;
  font-weight: bold;
  border-radius: 4px;
}
.basicButton--disabled {
  background-color: rgba(29, 28, 29, 0.13);
  pointer-events: none;
}

.basicButton--disabled {
  background-color: #DDD;
  border: none;
}

.basicButton--enabled {
  color: white;
  background-color: #138567;
  border: none;
}
.basicButton--enabled:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
  background: rgb(20, 133, 103);
}

.toggle__container {
  width: 56px;
  height: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: #4f4f4f;
  border-radius: 16px;
  display: flex;
  position: relative;
  align-items: center;
  cursor: pointer;
  float: right;
}
.toggle__container:hover {
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(79, 79, 79, 1);
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(79, 79, 79, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(79, 79, 79, 1);
}

.toggle__container:focus {
  -webkit-box-shadow: 0px 0px 0px 4px rgba(61, 150, 252, 0.3);
  -moz-box-shadow: 0px 0px 0px 4px rgba(61, 150, 252, 0.3);
  box-shadow: 0px 0px 0px 4px rgba(61, 150, 252, 0.3);
}

.toggle__container--selected {
  width: 54px;
  height: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: #1b825c;
  border-radius: 16px;
  background-color: #1f8e65;
  display: flex;
  position: relative;
  align-items: center;
  cursor: pointer;
  float: right;
}

.toggle__childSwitch {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 6px;
  background-color: #5e5e5e;
  transition: all ease-in-out 0.2s;
  -webkit-transition: all ease-in-out 0.2s;
}

.toggle__childSwitch--selected {
  background-color: white;
  transform: translateX(22px);
  -webkit-transform: translateX(22px);
}

.toggle__check {
  color: white;
  padding-left: 10px;
}

.toggleDesc__container {
  width: 60%;
  display: inline-block;
}

.container__switch {
  width: 40%;
  position: relative;
  display: inline-block;
}

.container__desc {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.floatingField__underField {
  padding-top: 4px;
  font-size: 13px;
  color: rgba(29, 28, 29, 0.7);
}

.toggle__text {
  font-size: 15px;
  line-height: 1.46668;
  font-weight: 400;
  color: rgba(29, 28, 29, 0.7);
}

.input-field-container {
  display: flex;
  position: relative;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  border-color: rgba(29, 28, 29, 0.5);
  padding-bottom: 4px;
  padding-top: 4px;
  padding-left: 4px;
  min-width: 1px;
}

.input-field-container--inputField {
  text-align: left;
  width: auto;
  display: flex;
  width: 100%;
  font-size: 15px;
  padding-bottom: 4px;
  padding-left: 8px;
  border: none;
  position: relative;
  line-height: 1.46668;
}

.input-field-container--inputField::placeholder {
  text-align: left;
  color: rgba(29, 28, 29, 0.45);
}

.input-field-container--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 2px;
  min-height: 32px;
  max-height: 32px;
  min-width: 32px;
  max-width: 32px;
  z-index: 200;
  color: rgba(29, 28, 29, 0.45);
}

/* #image-input {
  display: none;
} */

.input-field-container--icon:hover {
  background-color: #007a5a;
  color: white;
}

/**********************************
              LAYOUT
**********************************/

.main__layout--leftPannel {
  display: inline-block;
  background-color: #191d20;
  text-align: left;
  color: #e5e5e5;
  height: 100vh;
  width: 220px;
}

.board-header {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  padding: 8px 8px 8px 20px;
  border-style: solid;
  border-width: 1px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: #e2e2e2;
}

.board-header__title-section {
  text-align: left;
  width: 100%;
}

.board-header__title-name {
  font-size: 18px;
  line-height: 1.33334;
  font-weight: 900;
  display: block;
  max-width: 100%;
  align-items: baseline;
}

.board-header__title-icons {
  display: inline-flex;
  position: relative;
  align-items: center;
  margin-top: -1px;
  font-size: 13px;
  line-height: 1.38463;
  font-weight: 400;
  color: rgba(29, 28, 29, 0.4);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.board-icon {
  color: rgba(29, 28, 29, 0.75);
  display: inline-flex;
  position: relative;
  align-items: center;
}

.board-icon--star {
  font-size: 15px;
}

.board-icon--star:hover {
  color: #f2c744;
}

.board-icon--user {
  font-size: 16px;
}

.board-icon--user:hover {
  color: #1265a3;
}

.board-seperator {
  margin: 0px 6px;
}

.board-iconText {
  font-size: 13px;
  padding-left: 4px;
} 

.add-field-container {
  font-size: 13px;
  line-height: 1.38463;
  font-weight: 400;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  border-color: transparent;
  word-break: break-word;
  overflow-wrap: break-word;
  padding-right: 18px;
}

.add-field-container:hover + .header-button__edit {
  display: block;
}

.container-inlineFlex {
  position: relative;
  display: inline-flex;
  align-items: baseline;
}

.container-add-topic {
  display: inline-flex;
}

.container-inlineFlex > .container-add-topic:hover > .add-field-container {
  border-color: rgba(29, 28, 29, 0.3);
}

.light-grey {
  color: rgba(29, 28, 29, 0.3);
}

.clickable {
  cursor: pointer;
}

.header-button__edit {
  display: none;
  padding-left: 4px;
  cursor: pointer;
  color: #1264a3;
}

.header-button__edit:hover {
  display: block;
  text-decoration: underline;
}

.header-button__edit:hover + .add-field-container {
  background-color: red;
  border-color: red;
}

.pen-icon {
  padding-left: 4px;
  padding-right: 2px;
}

.channel-header {
  font-size: 15.3334px;
}

.user-message-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  margin-left: 20px;
  margin-right: 8px;
  background-color: #f8f8f8;
  color: #1d9bd1;
  border-radius: 3px;
}

.user-message-initial {
  font-size: 26px;
  font-weight: 600;
}

.user-message-username {
  position: relative;
  font-size: 15px;
  font-weight: 800;
}

.user-message-timestamp {
  font-size: 12px;
  font-weight: 300;
  padding-left: 4px;
  color: grey;
}

.user-message {
  font-weight: 400;
  font-size: 15px;
}

.message-container {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
}

.message-container:hover {
  background-color: #f8f8f8;
}

.message-foreword {
  margin: 48px 32px 16px 16px;
}

.foreword-title {
  display: block;
  font-size: 28px;
  font-weight: 800;
  line-height: 1.2143;
  padding-bottom: 8px;
}

.foreword-title::before {
  content: "#";
  padding-right: 4px;
  font-size: 26px;
  font-weight: 400;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

.foreword-description {
  display: block;
  color: rgba(29, 28, 29, 1);
  font-size: 1.1rem;
  line-height: 1.5;
}

.foreword-buttons-container {
  padding-top: 8px;
  display: inline-flex;
}

.foreword-buttons {
  display: inline-flex;
  justify-content: center;
  justify-content: flex-start;
  padding-right: 16px;
  font-size: 14px;
}

.enabled {
  color: #0b4c8c;
  opacity: 0.8;
  cursor: pointer;
}

.disabled {
  color: darkgray;
  cursor: default;
}

.foreword-icon {
  position: relative;
  font-size: 16px;
  padding-right: 4px;
  bottom: 2px;
}

li {
  list-style-type: none;
}

.simple-message__date {
  /* color: transparent */
  margin-left: 5px;
  margin-right: 5px;
  width: 54px;
  display: inline-flex;
  position: relative;
  justify-content: center;
  font-size: 12px;
  color: transparent;
}

.simple-message__text {
  font-size: 15px;
  display: inline-flex;
}

.simple-message__container {
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
}

.simple-message__container:hover {
  background-color: #f8f8f8;
}

.simple-message__container:hover > .simple-message__date {
  color: #616061;
}

.time-seperator-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
}

.time-separator-line {
  width: 45%;
  border: 0.5px solid #dddddd;
}

.time-separator-date {
  text-align: center;
  width: 160px;
  justify-content: center;
  padding: 0.25rem 0.75rem;
  font-size: 14px;
  font-weight: 700;
}

.footer-tip {
  font-size: 10.5px;
  color: #616061;
  height: 24px;
  line-height: 1.333px;
  -webkit-transition: ease-in-out 1s; /* Safari prior 6.1 */
  transition: ease-in-out 1s;
}

.footer-tip--displayed{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  margin-right: 9px;
}

.footer-tip--hidden {
  display: none;
}

.footer-container {
  display: block;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}

.footer-send-tip {
  padding-right: 16px;
}