.App {
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

*:focus {
  outline: none;
}

button {
  cursor: pointer;
}

.main__layout {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  display: flex;
}

.main__layout--leftPannel {
  display: inline-block;
  height: 100vh;
  width: 20%;
}

.main__layout--rightPannel {
  display: inline-block;
  height: 100%;
  width: 80%;
}

.main__layout--board {
  height: calc(75% - 28px);
  background-color: yellow;
  overflow: auto;
  
}

.main__layout--search {
  height: 56px;
  background-color: blue;
}

.main__layout--input {
  height:calc(30% - 28px);
  background-color: pink;
}

.main__layout--chat {
  height: calc(50% - 28px);
  background-color: lightgreen;
}

.main__layout--channels {
  display: block;
  position: static;
  height: calc(50% - 28px);
  background-color: hotpink;
}

.main__layout--userInfo {
  height:56px;
  background-color: lightgray;
}}

