@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');

.App {
  font-family: 'Lato', sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none; 
     -moz-user-select: none; 
      -ms-user-select: none; 
          user-select: none;
}

*:focus {
  outline: none;
}

button {
  cursor: pointer;
}

.main__layout {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  display: flex;
}

.main__layout--rightPannel {
  width: calc(100vw - 220px);
}

.main__layout--board {
  flex: 1 1 auto;
  width: 100%;
  min-height: 0;
  height: calc(100vh - 128px);
  overflow-y: scroll;
}

.longButton__header {
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 12px;
  font-weight: bold;
}

.label__header {
  font-size: 15px;
  cursor: pointer;
  transition: color .1s ease-out;
}

.label__header--title {
  display: inline-flex;
  width: 100%;
  color: #c6c7c8;
  margin-right: 22px;
}

.label__header--icon {
  display: inline-block;
  opacity: 0.7;
  height: 20px;
  width: 20px;
  cursor: pointer;
  font-size: 24px;
}

.label__header--icon {
  display:flex;
  position: relative;
  bottom: 4px;
  right: 4px;
  color: #a0a0a0;
}

.label__header--icon::after {
  cursor: pointer;
  margin-top: -6px;
  float: right;
  font-size: 27px;
  font-weight: 400;
  content: '\2295';
}

.label__header--icon:hover {
  color: #e2e2e2;
}

.label__header:hover  {
  color:white;
}

.section__channel {
  height: 26px;
  display: flex;
  line-height: 26px;
  padding: 0 12px 0 15px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 0;
}

.section__channel:hover {
  background-color: black;
}

.section__channels {
  display: block;
  cursor: pointer;
  overflow: scroll;
  color: #C6C7C8;
}

.section__overlay {
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  top: 0vh;
  position: absolute;
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
}

.section__selected {
  color: white;
  background-color:#0576B9;
}

.cancel__button {
  margin-top: 35px;
  font-size: 18px;
  color: black;
  border: black;
  border-radius: 25px;
  width: 30vw;
  cursor: pointer;
}

.container__textField {
  margin: auto;
  width: calc(120px + 30vw);
  border-bottom: 2px solid darkgrey;
}

.container__signUp{
  display: block;
  margin: 0 auto;
}

.login__field {
  display: inline-block;
  margin: 0 auto;
  margin-top: 20px;
  margin-right: 2px;
  border-bottom: solid 1px black;
  font-size: calc(8px + 1vw);
  height: 50px;
  width: 90%;
}

.login__field:focus {
  border-color: black;
}

.popUp {
  height: auto;
  max-width: 520px;
  z-index: 9999;
  top: 20vh;
  left: 35vw;
  position: relative;
  align-self: center;
  display: block;
  background-color: white;
  border-radius: 10px;
  text-align: left;
}

.popUp__button {
  text-align: right;
  position: relative;
}

.section__channel--hashtag {
  font-weight: 300;
  font-size: 16px;
  color: #6b6b6c;
  padding-right: 5px;
}

.message-header-container {
  position: relative;
  height: 100%;
}

.tool-tip {
  background-color: black !important;
  opacity: 1 !important;;
  font-weight: 600;
  padding: 10px 10px;
  border-radius: 10px !important;
}
